h1{
    text-align: center;
}

p{
    line-height: 20px; /*isso é uma boa pratica para o ususario ler melhor as linhas, ele ajuda a não deixar tudo colado */
}

ul{
    /* list-style: none; tira os pontinhos pretos da lista não ourdenada e ordenada */
}

img{
    width: 30%; 
    border-radius: 15px; /*borda mais bonita */
    filter: drop-shadow(5px 4px 5px); /* deixa uma sombra nas imagens */
}

/* ele so funciona quando o ponteiro do mouse passa por cima */
img:hover{
    filter: opacity(50%);


}